@font-face {
  font-family: "Cormorant Upright";
  font-style: normal;
  src: local("☺"),
      url(fonts/cormorant/CormorantUpright-Regular.woff2) format("woff2"),
      url(fonts/cormorant/CormorantUpright-Regular.woff) format("woff"),
      url(fonts/cormorant/CormorantUpright-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: bold;
  src: local("☺"),
      url(fonts/cormorant/CormorantUpright-SemiBold.woff2) format("woff2"),
      url(fonts/cormorant/CormorantUpright-SemiBold.woff) format("woff"),
      url(fonts/cormorant/CormorantUpright-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 800;
  src: local("☺"),
      url(fonts/cormorant/CormorantUpright-Bold.woff2) format("woff2"),
      url(fonts/cormorant/CormorantUpright-Bold.woff) format("woff"),
      url(fonts/cormorant/CormorantUpright-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 300;
  src: local("☺"),
      url(fonts/cormorant/CormorantUpright-Light.woff2) format("woff2"),
      url(fonts/cormorant/CormorantUpright-Light.woff) format("woff"),
      url(fonts/cormorant/CormorantUpright-Light.ttf) format("truetype");
}

