@font-face {
  font-family: "League Mono";
  font-style: normal;
  src: local("☺"),
      url(fonts/league/LeagueMono-Regular.woff2) format("woff2"),
      url(fonts/league/LeagueMono-Regular.woff) format("woff"),
      url(fonts/league/LeagueMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-weight: bold;
  src: local("☺"),
      url(fonts/league/LeagueMono-Bold.woff2) format("woff2"),
      url(fonts/league/LeagueMono-Bold.woff) format("woff"),
      url(fonts/league/LeagueMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-weight: 800;
  src: local("☺"),
      url(fonts/league/LeagueMono-ExtraBold.woff2) format("woff2"),
      url(fonts/league/LeagueMono-ExtraBold.woff) format("woff"),
      url(fonts/league/LeagueMono-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 300;
  src: local("☺"),
      url(fonts/league/LeagueMono-Light.woff2) format("woff2"),
      url(fonts/league/LeagueMono-Light.woff) format("woff"),
      url(fonts/league/LeagueMono-Light.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 200;
  src: local("☺"),
      url(fonts/league/LeagueMono-UltraLight.woff2) format("woff2"),
      url(fonts/league/LeagueMono-UltraLight.woff) format("woff"),
      url(fonts/league/LeagueMono-UltraLight.ttf) format("truetype");
}
@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 100;
  src: local("☺"),
      url(fonts/league/LeagueMono-Thin.woff) format("woff"),
      url(fonts/league/LeagueMono-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Fanwood";
  font-style: normal;
  src: local("☺"),
      url(fonts/league/LeagueMono-Regular.woff2) format("woff2"),
      url(fonts/league/LeagueMono-Regular.woff) format("woff"),
      url(fonts/league/LeagueMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-weight: bold;
  src: local("☺"),
      url(fonts/league/LeagueMono-Bold.woff2) format("woff2"),
      url(fonts/league/LeagueMono-Bold.woff) format("woff"),
      url(fonts/league/LeagueMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-weight: 800;
  src: local("☺"),
      url(fonts/league/LeagueMono-ExtraBold.woff2) format("woff2"),
      url(fonts/league/LeagueMono-ExtraBold.woff) format("woff"),
      url(fonts/league/LeagueMono-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 300;
  src: local("☺"),
      url(fonts/league/LeagueMono-Light.woff2) format("woff2"),
      url(fonts/league/LeagueMono-Light.woff) format("woff"),
      url(fonts/league/LeagueMono-Light.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 200;
  src: local("☺"),
      url(fonts/league/LeagueMono-UltraLight.woff2) format("woff2"),
      url(fonts/league/LeagueMono-UltraLight.woff) format("woff"),
      url(fonts/league/LeagueMono-UltraLight.ttf) format("truetype");
}
@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 100;
  src: local("☺"),
      url(fonts/league/LeagueMono-Thin.woff2) format("woff2"),
      url(fonts/league/LeagueMono-Thin.woff) format("woff"),
      url(fonts/league/LeagueMono-Thin.ttf) format("truetype");
}
