@import url("bootstrap/bootstrap-reboot.css");
@import url("pygments/pastie.css");

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  src: local("☺"), url(fonts/league/LeagueMono-Regular.woff2) format("woff2"),
    url(fonts/league/LeagueMono-Regular.woff) format("woff"),
    url(fonts/league/LeagueMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-weight: bold;
  src: local("☺"), url(fonts/league/LeagueMono-Bold.woff2) format("woff2"),
    url(fonts/league/LeagueMono-Bold.woff) format("woff"),
    url(fonts/league/LeagueMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-weight: 800;
  src: local("☺"), url(fonts/league/LeagueMono-ExtraBold.woff2) format("woff2"),
    url(fonts/league/LeagueMono-ExtraBold.woff) format("woff"),
    url(fonts/league/LeagueMono-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 300;
  src: local("☺"), url(fonts/league/LeagueMono-Light.woff2) format("woff2"),
    url(fonts/league/LeagueMono-Light.woff) format("woff"),
    url(fonts/league/LeagueMono-Light.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 200;
  src: local("☺"), url(fonts/league/LeagueMono-UltraLight.woff2) format("woff2"),
    url(fonts/league/LeagueMono-UltraLight.woff) format("woff"),
    url(fonts/league/LeagueMono-UltraLight.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 100;
  src: local("☺"), url(fonts/league/LeagueMono-Thin.woff) format("woff"),
    url(fonts/league/LeagueMono-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Fanwood";
  font-style: normal;
  src: local("☺"), url(fonts/league/LeagueMono-Regular.woff2) format("woff2"),
    url(fonts/league/LeagueMono-Regular.woff) format("woff"),
    url(fonts/league/LeagueMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-weight: bold;
  src: local("☺"), url(fonts/league/LeagueMono-Bold.woff2) format("woff2"),
    url(fonts/league/LeagueMono-Bold.woff) format("woff"),
    url(fonts/league/LeagueMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-weight: 800;
  src: local("☺"), url(fonts/league/LeagueMono-ExtraBold.woff2) format("woff2"),
    url(fonts/league/LeagueMono-ExtraBold.woff) format("woff"),
    url(fonts/league/LeagueMono-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 300;
  src: local("☺"), url(fonts/league/LeagueMono-Light.woff2) format("woff2"),
    url(fonts/league/LeagueMono-Light.woff) format("woff"),
    url(fonts/league/LeagueMono-Light.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 200;
  src: local("☺"), url(fonts/league/LeagueMono-UltraLight.woff2) format("woff2"),
    url(fonts/league/LeagueMono-UltraLight.woff) format("woff"),
    url(fonts/league/LeagueMono-UltraLight.ttf) format("truetype");
}

@font-face {
  font-family: "League Mono";
  font-style: normal;
  font-weight: 100;
  src: local("☺"), url(fonts/league/LeagueMono-Thin.woff2) format("woff2"),
    url(fonts/league/LeagueMono-Thin.woff) format("woff"),
    url(fonts/league/LeagueMono-Thin.ttf) format("truetype");
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "League Mono", "Lucida Console", Monaco, monospace;
  margin-bottom: 6em;
}

footer#base-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
  background-color: #f5f5f5;
}
footer#base-footer p {
  margin: 0;
}

header {
  font-weight: bolder;
}

div.figure {
  margin: 1em;
  text-align: center;
}
div.figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.figure p.caption {
  font-style: italic;
  margin-top: 0.5em;
  max-width: 80%;
  min-width: 40%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

header#banner {
  padding-bottom: 1em;
  font-size: 200%;
  margin-top: 0.5em;
}

h2.entry-title {
  margin: 0;
  font-size: 175%;
}
h2.entry-title a.content-title {
  color: black;
}
h2.entry-title a.content-title:visited {
  color: black;
}

.menu-nav header {
  display: inline-block;
}

address header {
  display: inline-block;
}

#base-content {
  margin-top: 1em;
}

.menu-nav ul {
  display: inline-block;
  padding-left: 0.1em;
  margin: 0;
}
.menu-nav li {
  list-style: none;
  padding: 0;
  display: inline;
}

tt.docutils.literal {
  font-family: "League Mono", "Lucida Console", Monaco, monospace;
  font-weight: 200;
}

span.pre, pre {
  font-family: "League Mono", "Lucida Console", Monaco, monospace;
  font-weight: 200;
}

article.article-short address {
  margin: 0;
}
article.article-short .tag {
  font-family: "League Mono", "Lucida Console", Monaco, monospace;
  font-weight: 200;
}

.post-info {
  margin-bottom: 1em;
}
.post-info .content-meta {
  display: block;
}
@media (min-width: 992px) {
  .post-info .content-meta {
    display: inline-block;
  }
}

.content-meta {
  padding: 0;
  margin: 0;
}

.content-meta-header {
  font-weight: bold;
}

.entry-content {
  display: block;
  width: 100%;
}

.header {
  max-width: 90%;
  background-color: #dee2e6;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

@media (min-width: 1200px) {
  .post-detail .post-info {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    display: inline-block;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.5em;
  }
  .post-detail .post-info .content-meta {
    display: block;
  }
  .post-detail .entry-content {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    display: inline-block;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 1em;
    border-right: 1px solid #007bff;
  }
  .post-detail .content-meta-header {
    display: block;
  }
  .post-detail header {
    margin-bottom: 1em;
  }
  .entry-title {
    margin-bottom: 1em;
  }
}

.post-detail p {
  text-align: justify;
  text-justify: inter-word;
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
  color: #212529;
}

table.docutils {
  margin-right: auto;
  margin-left: auto;
}

.highlight {
  margin-left: 2em;
}

ol#post-list {
  list-style: none;
  counter-reset: mycounter;
  padding: 0;
  letter-spacing: -1em;
}
ol#post-list address {
  display: inline-block;
}
ol#post-list .post-info {
  margin: 0;
  padding-bottom: 0.5em;
}
ol#post-list .content-meta {
  display: inline;
}
ol#post-list .content-meta.tag {
  display: block;
}
ol#post-list h4 {
  font-size: 100%;
  font-style: normal;
  margin-bottom: 0;
}
ol#post-list li {
  letter-spacing: normal;
  position: relative;
  display: block;
  padding-left: 3em;
}
ol#post-list li p:last-child {
  margin-bottom: 0;
}
ol#post-list > li:before {
  position: absolute;
  left: 0.75em;
  content: counter(mycounter) ".";
  counter-increment: mycounter;
  font-weight: normal;
  font-size: 100%;
}

.admonition {
  margin: 0.75em;
  border: solid;
  border-radius: 0.25em;
  border-width: thin;
  background-color: #e9ecef;
  border-color: #adb5bd;
}
.admonition p {
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-bottom: 0.125em;
}
.admonition .admonition-title {
  background-color: #ced4da;
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: #adb5bd;
  font-weight: bold;
  font-size: 125%;
  padding: 0.25em;
}
.admonition.note {
  background-color: #ecfcf7;
  border-color: #7eeaca;
}
.admonition.note .admonition-title {
  background-color: #c0f5e5;
  border-bottom-color: #7eeaca;
}
.admonition.warning {
  background-color: #ffe7a0;
  border-color: #ffc107;
}
.admonition.warning .admonition-title {
  background-color: #ffda6d;
  border-bottom-color: #ffc107;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 165%;
}

h4 {
  font-size: 150%;
}
