<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" xmlns="http://www.w3.org/1999/html">
<head>
    {% block head %}
    <title>{% block html_title %}{{ SITENAME }}{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/main.css" />
    {% if SIMPLE_TRACKER_URL %}
    <link rel="stylesheet" href="{{ SIMPLE_TRACKER_URL }}" media="none" />
    {% endif %}
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
</head>

<body id="index" class="home">

<section class="header">

<header id="banner" class="body">
    <a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a>
</header><!-- /#banner -->

{% block menu %}
{% if MENUITEMS %}
<nav id="menu-items" class="menu-nav">
<header>Menu:</header>
<ul>{% for title, link in MENUITEMS %}
    <li><a href="{{ link }}">{{ title }}</a>{% if not loop.last %} |{% endif %}</li>
{% endfor %}</ul>
</nav>
{% endif %}

{% if DISPLAY_PAGES_ON_MENU and pages %}
<nav id="menu-items" class="menu-nav">
<header>Metadata: </header>
<ul>{% for p in pages %}
    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>{% if not loop.last %} |{% endif %}</li>
{% endfor %}</ul>
</nav>
{% endif %}

{% if DISPLAY_CATEGORIES_ON_MENU and categories %}
<nav id="menu-items" class="menu-nav">
<header>Categories:</header>
<ul>{% for cat, null in categories %}
    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>{% if not loop.last %} |{% endif %}</li>
{% endfor %}</ul>
</nav>
{% endif %}
{% block menu_extra %}{% endblock %}
{% endblock menu %}

</section>
<section id="base-content" class="container">
{% block content %}
{% endblock %}
</section>
<footer id="base-footer">
    <div class="container">
    {% block footer %}
    <address id="about" class="vcard body">
        <p> Powered by <a href="http://python.org">Python</a>, <a href="http://getpelican.com/">Pelican</a> and
            other libre/open-source resources. <a href="/pages/thankyou.html">See full list of thanks here</a>. </p>
    <p>
        <a href="/pages/license.html">Mostly CC BY-ND 4.0, see licensing details</a>.
    </p>

    </address><!-- /#about -->
    {% endblock %}

    <a style="display: none" rel="me" href="https://mastodon.technology/@jacek">Mastodon</a>
    </div>
</footer><!-- /#contentinfo -->
</body>
</html>
