<time class="content-meta published" datetime="{{ content.date.isoformat() }}">
 <span class="content-meta-header">Created:</span> {{ content.locale_date }}
</time>
{% if content.modified %}
 <time class="content-meta modified" datetime="{{ content.modified.isoformat() }}">
  <span class="content-meta-header">Last edited:</span>{{ content.locale_modified }}
 </time>
{% endif %}
{% if content.authors %}
 <address class="content-meta vcard author">
  <span class="content-meta-header">By:</span> {% for author in content.authors %}
  <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author|e }}</a>
 {% endfor %}
 </address>
{% endif %}
{% if not page and content.category %}
 <div class="content-meta category">
  <span class="content-meta-header">Category: </span> <a class="url fn" href="{{ SITEURL }}/{{ content.category.url }}">{{ content.category }}</a>
 </div>
{% endif %}
{% if content.tags %}
 <div class="content-meta tag">
  <span class="content-meta-header">Tags: </span> {% for tag in content.tags %}
  <a class="url fn" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
 {% endfor %}
 </div>
{% endif %}