{% if content.summary %}
<meta name="description" content="{{ content.summary|striptags}} " />
{% endif %}

{% if content.authors %}
<meta name="author" content="{% for author in content.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}" />
{% endif %}

{% if content.tags %}
<meta name="keywords" content="{% for tag in content.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}">
<meta name="tags" content="{% for tag in content.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}">
{% endif %}
