{% extends "base.html" %}

{% block extra_head %}
  {{ super() }}
    {% for hidden_page in hidden_pages %}
     {% if hidden_page.slug == 'index' %}
        {% with content = hidden_page %}
            {% include "content-head.html"  %}
        {% endwith %}
    {% endif %}
    {% endfor %}
{% endblock %}


{% block content %}
{% for hidden_page in hidden_pages %}
    {% if hidden_page.slug == 'index' %}
       {# render-content uses {% if page %} to detect whether we are rendering page or article, so give page to it    #}
        {% with content = hidden_page, page = hidden_page %}
            {% include "render-content.html" %}
        {% endwith %}
    {% endif %}
{% else %}
    <strong>Please add hidden page (:status: hidden) with slug <i>'index'</i></strong>
{% endfor %}

<h2>
All posts:
</h2>

<ol id="post-list">{% for article in articles_page.object_list %}<li>
 <article class="article-short hentry">
                <header> <h4 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
{% if article.tags %} ({% for tag in article.tags -%}<a class="url fn tag" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}) {% endif %}
</h4> </header>
        </article></li>{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
