{% if DEFAULT_PAGINATION %}
<div class="row justify-content-center" >
<nav aria-label="Pagination">
  <ul class="pagination">

      <li class="page-item {% if not articles_page.has_previous() %} disabled{% endif %}">
      <a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Previous</a>
    </li>
      {% for page in range(1, articles_paginator.num_pages + 1) %}
    <li class="page-item{% if page == articles_page.number %} active{% endif %}">
        <a class="page-link" href="{{ SITEURL }}/{{ articles_paginator.page(page).url }}">{{ page }}
            {% if page == articles_page.number %}<span class="sr-only">(current)</span>{% endif %}
    </a></li>
      {% endfor %}
    <li class="page-item {% if not articles_page.has_next() %} disabled{% endif %}">
      <a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}">Next</a>
    </li>
  </ul>
</nav>
    </div>
{% endif %}
