{% extends "base.html" %}
{% block content %}
<h2>
{% block content_title %}
{{ category }}
{% endblock %}
</h2>

<ol id="post-list">{% for article in articles_page.object_list %}<li>
 <article class="article-short hentry">
                <header> <h4 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
{% if article.tags %} ({% for tag in article.tags -%}<a class="url fn tag" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}) {% endif %}
</h4> </header>
        </article></li>{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
