{% if article.tags %}
<nav class="menu-nav">
<header>Tags:</header>
<ul>{% for tag in article.tags %}
    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}</li>
{% endfor %}</ul>
</nav>
{% endif %}