<section id="content" class="body container post-detail">
 <header class="row">
  <h2 class="entry-title">
   <a class="content-title" href="{{ SITEURL }}/{{ content.url }}" rel="bookmark"
      title="Permalink to {{ content.title|striptags }}">{{ content.title }}</a>
   <small>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(content) }}
   </small>
  </h2>

 </header>
 <div class="row">

  <footer class="post-info">
   {% include "content-meta.html" %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
   {{ content.content }}
  </div><!-- /.entry-content -->
 </div>
</section>